<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache" />   
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>新建工资条</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="/plugins/File-Upload/css/jquery.fileupload.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
</head>
<body>
<div class="container containerNew">
	<form id="frm" action="">
		 <div class="form-group">
		 	 <label for="moneyTitle"><label style="color: red">*</label>工资条名称：</label>
		     <input type="text" class="form-control" id="moneyTitle" name="moneyTitle" placeholder="请输入工资条名称（如：2017年4月工资条）">
		 </div>
		 <div class="form-group">
		 	 <label for="moneyMonth"><label style="color: red">*</label>月份：</label>
		     <input type="text" class="form-control" id="moneyMonth" name="moneyMonth" readonly placeholder="请选择月份">
		 </div>
		 <div class="form-group">
		 	 <label for="fileupload"><label style="color: red">*</label>导入工资条：</label>
		 	 <span class="btn btn-primary btn-sm fileinput-button">
		 		<span class="glyphicon glyphicon-plus"></span> 开始上传
			 	<input type="file" id="fileupload" name="fileupload" multiple accept=".xls">
		 	 </span>
		 	 <span class="btn btn-success btn-sm" onclick="downModule();">
		 		<span class="glyphicon glyphicon-download-alt"></span> 下载工资条模板
		 	 </span>
		 	 <!-- 回显上传文件 -->
		 	 <div class="fileDiv">
		 	 </div>
		 	 
		 	 <input type="hidden" id="filePath" name="filePath" value=""/>
		 </div>
		 <div class="form-group" style="color: red">
		 	 <label><span class="label label-success">导入步骤：</span></label>
		 	 <p>1、点击下载工资条模板按钮，下载模板到本地，参照模板进行填写；</p>
		 	 <p>2、填写完成，文件另存为.xls格式到本地；</p>
		 	 <p>3、点击开始上传按钮，选择第二步保存好的文件，即完成上传操作。</p>
		 </div>
	</form>
</div>
<script src="/plugins/bootstrap/js/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrapValidator.min.js"></script>
<script src="/plugins/File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/plugins/File-Upload/js/jquery.iframe-transport.js"></script>
<script src="/plugins/File-Upload/js/jquery.fileupload.js"></script>
<script src="/plugins/calendar/WdatePicker.js"></script>
<script src="/plugins/layer/layer.js"></script>
<script src="/js/Public.js"></script>
<script src="/js/manager/manager_person_money_form.js"></script>
</body>
</html>
