<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache" />   
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>假期统计</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 titleDIV">假 期 统 计</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-success" onclick="download();">导出Excel</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 queryDIV">
				<form id="frm" class="form-inline" style="text-align: center;">
				
					<div class="form-group td">
				    	<label for="startTime" class="t1">创建时间</label>
				    	<input type="text" class="form-control" style="width:33%" id="startTime" name="startTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" readonly placeholder="选择开始时间">
						- <input type="text" class="form-control" style="width:33%" id="endTime" name="endTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})" readonly placeholder="选择结束时间">
				  	</div>
				    <div class="form-group td">
				    	<label for="dept" class="t1">部门</label>
				    	<input type="text" class="form-control t2" id="dept" name="dept" placeholder="输入要查询的部门">
				  	</div>
				
					<div class="clearfix"></div>
					
				    <div class="form-group td">
				    	<label for="user" class="t1">员工</label>
				    	<input type="text" class="form-control t2" id="user" name="user" placeholder="输入要查询的员工">
				  	</div>
				  	<div class="form-group td">
				  		<label for="type" class="t1">假期类型</label>
				    	<select class="form-control t2" id="type" name="type">
					   	 	<option value="">请选择假期类型</option>
					   	 	<option value="01">出差</option>
					   	 	<option value="02">事假</option>
					   	 	<option value="03">病假</option>
					   	 	<option value="04">产假</option>
					   	 	<option value="05">年假</option>
					   	 	<option value="06">婚假</option>
					   	 	<option value="07">丧假</option>
					   	 </select>
				 	</div>
				 	
				    <div class="clearfix"></div>
				    
				  	<div class="form-group td">
				    	<label for="subflag" class="t1">状态</label>
				    	<select class="form-control t2" id="subflag" name="subflag">
					   	 	<option value="">--选择状态--</option>
					   	 	<option value="01">办理中</option>
					   	 	<option value="02">已办结</option>
					   	 </select>
				 	</div>
				  	<div class="form-group td">
				  	</div>
				 	
				    <div class="clearfix"></div>
				    
				  	<button type="button" class="btn btn-primary" onclick="editList();">查询</button>
				  	<button type="reset" class="btn btn-default">清空</button>
				  	
				</form>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12 listDIV">
				<table class="table table-striped table-bordered table-hover">
					<thead style="background-color: #EEEEEE;">
						<tr>
							<th class="col-md-1">序号</th>
							<th class="col-md-2">创建时间</th>
							<th class="col-md-2">部门</th>
							<th class="col-md-1">员工</th>
							<th class="col-md-2" style="width: 13%;">假期类型</th>
							<th class="col-md-1" style="width: 10%;">起始日期</th>
							<th class="col-md-1" style="width: 10%;">结束日期</th>
							<th class="col-md-1">状态</th>
							<th class="col-md-1">操作</th>
						</tr>
					</thead>
					<tbody id="data">
					</tbody>
				</table>
			</div>
			<!-- 分页 -->
			<div id="page" style="text-align: center;"></div>
		</div>
	</div>
	
	<script src="/js/manager/manager_vacation.js"></script>
</body>
</html>
